<div class="container">
  <form [formGroup]="classForm" (ngSubmit)="submit()">
    <h1 mat-dialog-title class="text-center">{{ classItem ? 'Klasse editieren' : 'Klasse hinzufügen' }}</h1>
    <div mat-dialog-content class="text-center">
      <div class="row">
        <div class="col-sm">
          <mat-form-field appearance="fill" class="float-sm-end">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name" placeholder="4b" />
            <mat-error *ngIf="name?.errors?.['required']">Name ist erforderlich.</mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm">
          <mat-form-field appearance="fill" class="float-sm-start">
            <mat-label>Lehrkraft</mat-label>
            <input matInput type="text" formControlName="teacher" placeholder="Frau Schwarz" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <mat-card>
          <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Montag</th>
                <th scope="col">Dienstag</th>
                <th scope="col">Mittwoch</th>
                <th scope="col">Donnerstag</th>
                <th scope="col">Freitag</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" class="align-middle"><mat-icon>restaurant</mat-icon></th>
                <td *ngFor="let day of Days | keyvalue">
                  <mat-form-field>
                    <mat-select formControlName="{{ 'lunch' + day.key }}" (selectionChange)="onChange($event)">
                      <mat-option *ngFor="let time of LunchTimes | keyvalue" [value]="time.value">{{
                        time.value
                      }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <th scope="row" class="align-middle"><mat-icon>home</mat-icon></th>
                <td *ngFor="let day of Days | keyvalue">
                  <mat-form-field>
                    <mat-select formControlName="{{ 'homework' + day.key }}" (selectionChange)="onChange($event)">
                      <mat-option *ngFor="let time of HomeworkTimes | keyvalue" [value]="time.value">{{
                        time.value
                      }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </tr>
            </tbody>
          </table>
        </mat-card>
      </div>
    </div>
    <div mat-dialog-actions class="justify-content-center mb-16">
      <button mat-raised-button mat-dialog-close color="basic" class="mx-8" (click)="closeDialog()">Abbrechen</button>
      <button mat-raised-button color="primary" class="mx-8" type="submit" [disabled]="!classForm.valid">
        {{ classItem ? 'Anpassen' : 'Erstellen' }}
      </button>
    </div>
  </form>
</div>
