<div class="container">
  <div class="row">
    <div class="col-sm">
      <mat-action-list>
        <div mat-subheader>Planung</div>
        <mat-list-item (click)="openDialog(ActivityTypes.EarlyCare)">
          <mat-icon matListItemIcon>event_available</mat-icon>
          <h3 matListItemTitle>Frühbetreuung</h3>
          <p matListItemLine>
            <span>Neue Liste für die Frühbetreuung erstellen.</span>
          </p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item (click)="openDialog(ActivityTypes.Lunch)">
          <mat-icon matListItemIcon>restaurant</mat-icon>
          <h3 matListItemTitle>Mittagessen</h3>
          <p matListItemLine>
            <span>Neue Liste für das Mittagessen erstellen.</span>
          </p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item (click)="openDialog(ActivityTypes.Homework)">
          <mat-icon matListItemIcon>home</mat-icon>
          <h3 matListItemTitle>Hausaufgaben</h3>
          <p matListItemLine>
            <span>Neue Liste für die Hausaufgaben erstellen.</span>
          </p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item (click)="openDialog(ActivityTypes.Courses)">
          <mat-icon matListItemIcon>school</mat-icon>
          <h3 matListItemTitle>Kurse</h3>
          <p matListItemLine>
            <span>Neue Kursliste erstellen.</span>
          </p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item (click)="openDialog(ActivityTypes.Pickup)">
          <mat-icon matListItemIcon>event_busy</mat-icon>
          <h3 matListItemTitle>Abholung</h3>
          <p matListItemLine>
            <span>Neue Liste für die Abholung erstellen.</span>
          </p>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-action-list>
    </div>
    <div class="col-sm">
      <mat-action-list>
        <div mat-subheader>Weitere Informationen</div>
        <mat-list-item (click)="openDialog(InformationTypes.EmergencyContacts)">
          <mat-icon matListItemIcon>contact_emergency</mat-icon>
          <h3 matListItemTitle>Notfallkontakte</h3>
          <p matListItemLine>
            <span>Neue Liste mit Notfallkontakten erstellen.</span>
          </p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item (click)="openDialog(InformationTypes.PickupAuthorizations)">
          <mat-icon matListItemIcon>no_crash</mat-icon>
          <h3 matListItemTitle>Abholberechtigungen</h3>
          <p matListItemLine>
            <span>Neue Liste mit Abholberechtigungen erstellen.</span>
          </p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item (click)="openDialog(InformationTypes.Allergies)">
          <mat-icon matListItemIcon>sentiment_dissatisfied</mat-icon>
          <h3 matListItemTitle>Allergien</h3>
          <p matListItemLine>
            <span>Neue Liste mit Allergien erstellen.</span>
          </p>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-action-list>
      <mat-action-list class="space">
        <div mat-subheader>Administration</div>
        <a href="assets/db/mysqlite.db">
          <mat-list-item>
            <mat-icon matListItemIcon>table_chart</mat-icon>
            <h3 matListItemTitle>Datenbank exportieren</h3>
            <p matListItemLine>
              <span>Export der gesamten Datenbank.</span>
            </p>
          </mat-list-item>
        </a>
        <mat-divider></mat-divider>
      </mat-action-list>
    </div>
  </div>
</div>
