.spacer {
  flex: 1;
}

.logo {
  margin-right: 8px;
}

.content {
  display: flex;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}

.active {
  background-color: #21328e !important;
}

.text-center {
  text-align: center;
}
