<div class="container">
  <form [formGroup]="childForm" (ngSubmit)="submit()">
    <h1 mat-dialog-title class="text-center">{{ child ? 'Schüler editieren' : 'Schüler hinzufügen' }}</h1>
    <div mat-dialog-content class="text-center">
      <div class="row">
        <div class="col-sm">
          <mat-form-field appearance="fill">
            <mat-label>Vorname</mat-label>
            <input matInput type="text" formControlName="firstName" placeholder="Max" />
            @if (firstName?.errors?.['required']) {
              <mat-error>Vorname ist erforderlich.</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-sm">
          <mat-form-field appearance="fill">
            <mat-label>Nachname</mat-label>
            <input matInput type="text" formControlName="lastName" placeholder="Mustermann" />
            @if (lastName?.errors?.['required']) {
              <mat-error>Nachname ist erforderlich.</mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <mat-form-field appearance="fill">
            <mat-label>Telefon</mat-label>
            <input matInput type="text" formControlName="phone" placeholder="" />
            @if (phone?.errors?.['minlength']) {
              <mat-error>Mind. 7 Ziffern erforderlich.</mat-error>
            }
            @if (phone?.errors?.['maxlength']) {
              <mat-error>Max. 15 Ziffern möglich.</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-sm">
          <mat-form-field appearance="fill">
            <mat-label>Mobil</mat-label>
            <input matInput type="text" formControlName="mobile" placeholder="" />
            @if (mobile?.errors?.['minlength']) {
              <mat-error>Mind. 7 Ziffern erforderlich.</mat-error>
            }
            @if (mobile?.errors?.['maxlength']) {
              <mat-error>Max. 15 Ziffern möglich.</mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <mat-form-field appearance="fill">
            <mat-label>Notfallkontakt</mat-label>
            <input matInput type="text" formControlName="emergencyContact" placeholder="Name und/oder Rufnummer" />
          </mat-form-field>
        </div>
        <div class="col-sm">
          <mat-form-field appearance="fill">
            <mat-label>Klasse</mat-label>
            <mat-select formControlName="classSelect">
              @for (classItem of classes; track classItem.id) {
                <mat-option [value]="classItem.id">{{ classItem.name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <mat-form-field appearance="fill">
            <mat-label>Abholberechtigung</mat-label>
            <input matInput type="text" formControlName="pickupAuthorization" placeholder="" />
          </mat-form-field>
        </div>
        <div class="col-sm">
          <mat-form-field appearance="fill">
            <mat-label>Allergien</mat-label>
            <input matInput type="text" formControlName="allergies" placeholder="" />
          </mat-form-field>
        </div>
      </div>
    </div>
    <div mat-dialog-actions class="justify-content-center mb-16">
      <button mat-raised-button mat-dialog-close color="basic" class="mx-8" (click)="closeDialog()">Abbrechen</button>
      <button mat-raised-button color="primary" class="mx-8" type="submit" [disabled]="!childForm.valid">
        {{ child ? 'Anpassen' : 'Erstellen' }}
      </button>
    </div>
  </form>
</div>
