<div class="row">
  <div class="col-7 d-flex align-items-start justify-content-start">
    <mat-form-field>
      <mat-label>Suche</mat-label>
      <input matInput (keyup)="search($event)" placeholder="Suche nach Schüler..." #input />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <div class="col-5 d-flex align-items-end justify-content-end">
    <ogs-children-create-update-action></ogs-children-create-update-action>
  </div>
</div>
<div class="row flex-fill flex-grow-1">
  <div class="col-12">
    <div class="table-container">
      <table
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8"
        aria-label="children"
        matSort
        (matSortChange)="sortData($event)"
        matSortActive="firstName"
        matSortDirection="asc"
        matSortDisableClear
      >
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="firstName" scope="col">Vorname</th>
          <td mat-cell *matCellDef="let child">
            {{ child.firstName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="lastName" scope="col">Nachname</th>
          <td mat-cell *matCellDef="let child">
            {{ child.lastName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="phone" scope="col">Telefon</th>
          <td mat-cell *matCellDef="let child">
            {{ child.phone }}
          </td>
        </ng-container>
        <ng-container matColumnDef="mobile">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="mobile" scope="col">Mobil</th>
          <td mat-cell *matCellDef="let child">
            {{ child.mobile }}
          </td>
        </ng-container>
        <ng-container matColumnDef="emergencyContact">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="emergencyContact" scope="col">Notfallkontakt</th>
          <td mat-cell *matCellDef="let child">
            {{ child.emergencyContact }}
          </td>
        </ng-container>
        <ng-container matColumnDef="classId">
          <th mat-header-cell *matHeaderCellDef scope="col">Klasse</th>
          <td mat-cell *matCellDef="let child">
            {{ child.classId | className: classes }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef scope="col">Aktionen</th>
          <td mat-cell *matCellDef="let child">
            <button mat-icon-button color="basic" (click)="download(child)">
              <mat-icon>download</mat-icon>
            </button>
            <ogs-children-activities-action [child]="child"></ogs-children-activities-action>
            <ogs-children-create-update-action [child]="child" [isUpdate]="true"></ogs-children-create-update-action>
            <ogs-children-delete-action [child]="child"></ogs-children-delete-action>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell ps-8">Keine Ergebnisse gefunden.</td>
        </tr>
      </table>
    </div>
  </div>
</div>
